html {
	background-color: #111;
	color: #fff;
}

canvas {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 20px #333;
}

input[type=file] {
	padding: 10px;
	
}

.invisible {
	display: none !important;
}